# Default owners for everything in the repo.
# Unless a later match takes precedence, the Maintainers team
# will be requested for review when someone opens a pull request.
*       @open-component-model/Maintainers

# Especially for the shared git-repository settings in .github directory
/.github/            @open-component-model/Admins

# Owners for specific directories and files
/.github/workflows/  @open-component-model/Maintainers
/.github/ISSUE_TEMPLATE/  @open-component-model/Maintainers
/.github/pull_request_template.md  @open-component-model/Maintainers

# Owners for specific file types
#*.md    @<org>/<team>
#*.go    @<org>/<team>

# Individual users as owners, e.g. a lead maintainer for a specific component:
# /src/critical-component/   @lead-maintainer-username
